{% load i18n static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:'en-us' }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Mangxis{% endblock %}</title>
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
    <link rel="stylesheet" href="{% static 'tailwind.css' %}">
    <script defer src="{% static 'deps/htmx.js' %}"></script>
    <script defer src="{% static 'deps/alpine.js' %}"></script>
</head>
<body
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    class="w-dvw h-dvh overflow-hidden {% block body-classes %}{% endblock %}"
>

{% block content %}{% endblock %}

</body>
</html>
